body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: green;
  color: white;
  padding: 25px 200px;
  text-align:center;
}
nav {
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin-top: 20PX;
  align-items: center;
  text-align: center;
}
span{
  font-size: 40px;
}
main{
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin-top: -280px;

}
nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
nav a:hover {
  text-decoration: underline;
}
footer {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
.form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: darkgreen;
}
input[type="reset"]:hover {
  background-color: darkgreen;
}
.error {
  color: red;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #e0f7fa;
}
.sidebar {
  background-color: green;
  color: #fff;
  width: 200px;
  padding: 20px;
  height: fit-content;
}

.sidebar a {
  display: block;
  text-wrap: wrap;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
.sidebar a:hover {
  background-color: #000000;
}